@model Lab2_NgVanSi.Models.Rubik
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<h2>@Html.DisplayFor(model => model.Ten)</h2>
<div class="col-sm-12 col=md-12">
    <div class="thumbnail">
        <img src="/@Html.DisplayFor(model=>model.Hinh)" alt="thumbnail" width="30%">
    </div>
    <div class="caption">
        <p><strong>Loại:</strong> @Html.DisplayFor(model => model.Loai)</p>
        <p><strong>Mô tả:</strong> @Html.DisplayFor(model => model.MoTa)</p>
        <p><strong>Giá:</strong> @Html.DisplayFor(model => model.Gia) </p>
        <p><strong>Hãng:</strong> @Html.DisplayFor(model => model.Hang) </p>
        <p><strong>Số lượng tồn:</strong> @Html.DisplayFor(model => model.SoLgTon) </p>
        <p>
            <a href="#" class="btn btn-primary" role="button">Buy</a>
            @Html.ActionLink("Back", "Index", "", new { @class = "btn btn-info" })
        </p>
    </div>
</div>

