@model IEnumerable<Lab2_NgVanSi.Models.Rubik>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">
    @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            @item.Ten
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "pull-right" }) 
                            
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "pull-right" })
                        </div>
                        <div class="panel-body">
                            <p><strong>Loại: </strong>@item.Loai</p>
                            <p><strong>Mô tả: </strong>@item.MoTa</p>
                            <p><strong>Giá: </strong>@item.Gia</p>
                            <p><strong>Hãng: </strong>@item.Hang</p>
                            <p><img src="/@item.Hinh" alt="hinh thumnail" width="60%"/></p>
                            <p><strong>Còn lại: </strong>@item.SoLgTon</p>
                        </div>

                        <div class="panel-footer clearfix">
                            <div class="pul1-right">
                                <a href="" class="btn btn-primary">Order</a>
                                @Html.ActionLink("Read more...", "Detail", new { id = item.Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                </div>
            }
</div>

